.navbar_container {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    height: 50px;
}

.navbar span a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 1em;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
}
